appnope==0.1.2
attrs==20.3.0
backcall==0.2.0
beautifulsoup4==4.9.3
click==7.1.2
decorator==4.4.2
iniconfig==1.1.1
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
numpy==1.19.4
packaging==20.8
pandas==1.1.5
parso==0.7.1
persine==0.1.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
pluggy==0.13.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
py==1.10.0
Pygments==2.7.3
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
pytz==2020.4
selenium==3.141.0
six==1.15.0
soupsieve==2.1
tdqm==0.0.1
toml==0.10.2
tqdm==4.54.1
traitlets==5.0.5
urllib3==1.26.2
wcwidth==0.2.5
